# Python Basic

# QUESTION 1

In [48]:
#Variables and Data Types:

In [49]:
a = 5
b = 15

In [50]:
a, b = b, a #swapping

In [51]:
print("a = ", a, "b = ", b)

a =  15 b =  5

# Question 2 Input and Output:

In [1]:
from datetime import datetime
# Take user input
name = input("Enter your name: ")
age = int(input("Enter your age: "))
# Calculate the year when the user will turn 100
current_year = datetime.now().year
year_turn_100 = current_year + (100 - age)
# Print the message
print(f"Hello {name}, you will turn 100 years old in {year_turn_100}.")

Hello suppu, you will turn 100 years old in 2080.

# Question 3 Conditional Statements:

In [ ]:
# Input from the user
num = float(input("Enter a number: "))
# Check if the number is positive, negative, or zero
if num > 0:
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number:  20

The number is positive.

# Question 4 Loops:

In [ ]:
for num in range(1, 51):
    if num % 3 == 0 and num % 5 == 0:
        print(num)

15
30
45

# Question 5 String Manipulation:

In [1]:
# Take string input from the user
user_string = input("Enter a string: ")
# Normalize the string by converting to lowercase and removing spaces
normalized_str = user_string.replace(" ", "").lower()
# Check if the string is the same forwards and backwards
if normalized_str == normalized_str[::-1]:
    print(f'"{user_string}" is a palindrome.')
else:
    print(f'"{user_string}" is not a palindrome.')

"45" is not a palindrome.

Question 6 Basic Operations:

In [ ]:
def find_second_largest(numbers):
    # Remove duplicates by converting to a set
    unique_numbers = set(numbers)
    
    # Check if there are at least two unique numbers
    if len(unique_numbers) < 2:
        return None  # No second largest number
    
    # Remove the largest number
    unique_numbers.remove(max(unique_numbers))
    
    # The next max is the second largest
    return max(unique_numbers)
# Example usage
numbers = [10, 20, 4, 45, 99, 99, 45]
second_largest = find_second_largest(numbers)
if second_largest is not None:
    print(f"The second largest number is {second_largest}.")
else:
    print("There is no second largest number in the list.")

The second largest number is 45.

:

# Question 7 List Comprehension:

In [96]:
even_numbers = [num for num in range(1, 101) if num % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

# Question 8 Sorting and Searching:

In [ ]:
# Sample list of strings
strings = ["banana", "apple", "cherry", "date", "fig", "grape"]
# Sort the list alphabetically
strings.sort()
print("Sorted list:", strings)
# Take input for the string to search
search_str = input("Enter the string to search for: ")
# Search for the string in the list
if search_str in strings:
    print(f'"{search_str}" is found in the list.')
else:
    print(f'"{search_str}" is not found in the list.')

Sorted list: ['apple', 'banana', 'cherry', 'date', 'fig', 'grape']

Enter the string to search for:  apple

"apple" is found in the list.

# Question 9 Removing Duplicates:

In [ ]:
def remove_duplicates(lst):
    unique_list = []
    for item in lst:
        if item not in unique_list:
            unique_list.append(item)
    return unique_list
# Example usage
original_list = [1, 2, 2, 3, 4, 4, 5, 1, 6]
result = remove_duplicates(original_list)
print("List after removing duplicates:", result)

List after removing duplicates: [1, 2, 3, 4, 5, 6]

Question 10 Tuple Creation:

In [ ]:
myt1 = (1, 2, 3)

In [ ]:
myt1

(1, 2, 3)

In [ ]:
sum(myt1) # Sum of elements in the tuple

6

In [ ]:
min(myt1) # Minimum element in the tuple

1

In [ ]:
max(myt1)

3

# QUESTION 11 Tuple to List:

In [ ]:
t1 = (1,2,3,4,5)

In [ ]:
l1  = tuple(t1) #tuple into list

In [ ]:
l1

(1, 2, 3, 4, 5)

In [ ]:
type(l1)

tuple

In [ ]:
t1  = list(l1) #list into tuple

In [ ]:
t1

[1, 2, 3, 4, 5]

In [ ]:
type(t1)

list

In [ ]:
t1.append(6) #adding element

In [ ]:
t1

[1, 2, 3, 4, 5, 6]

# Dictionaries

Question 12 Basic Operations:

In [85]:
def count_word_frequency(text):
    # Convert text to lowercase for case-insensitive counting
    text = text.lower()
    # Split the text into words
    words = text.split()
    
    frequency = {}
    for word in words:
        # Remove punctuation from the word
        word = word.strip('.,!?";:')
        if word in frequency:
            frequency[word] += 1
        else:
            frequency[word] = 1
    return frequency
# Example usage
input_text = "This is a test. This test is only a test."
freq = count_word_frequency(input_text)
print(freq)

{'this': 2, 'is': 2, 'a': 2, 'test': 3, 'only': 1}

Question 13 Nested Dictionaries:

In [86]:
# Create a nested dictionary with student names and their scores
students_scores = {
    "Alice": {"Math": 85, "Science": 92, "English": 88},
    "Bob": {"Math": 78, "Science": 81, "English": 90},
    "Charlie": {"Math": 95, "Science": 89, "English": 93}
}

# Initialize variables to track the top student and highest total score
top_student = None
highest_score = 0

# Iterate through the dictionary to calculate total scores
for student, scores in students_scores.items():
    total_score = sum(scores.values())
    if total_score > highest_score:
        highest_score = total_score
        top_student = student

# Print the student with the highest total score
print(f"The student with the highest total score is {top_student} with a score of {highest_score}.")

The student with the highest total score is Charlie with a score of 277.

Question 14 Dictionary Updates:

In [91]:
# Dictionary of employee names and their salaries
employee_salaries = {
    "John": 50000,
    "Emma": 60000,
    "Michael": 55000,
    "Sophia": 62000
}
# Get employee name and new salary from user input
employee_name = input("Enter the employee name whose salary you want to update: ")
new_salary_input = input("Enter the new salary: ")
# Validate and update salary if employee exists
if employee_name in employee_salaries:
    try:
        new_salary = float(new_salary_input)
        employee_salaries[employee_name] = new_salary
        print(f"Salary of {employee_name} has been updated to {new_salary}.")
    except ValueError:
        print("Invalid salary input. Please enter a numeric value.")
else:
    print(f"Employee '{employee_name}' not found.")

Salary of John has been updated to 20000.0.

# sets

# Question15

In [72]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

In [73]:
set1.union(set2) #union

{1, 2, 3, 4, 5, 6, 7, 8}

In [74]:
set1.intersection(set2) #intersection

{4, 5}

In [75]:
set1.difference(set2)

{1, 2, 3}

In [76]:
set2.difference(set1)

{6, 7, 8}

In [77]:
set1.symmetric_difference(set2)

{1, 2, 3, 6, 7, 8}