# Questions : 

# 1. Load Dataset

In [47]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_excel(r"C:\Users\gauta\OneDrive\Desktop\Real_estate Dataset.xlsx") # Load the dataset

In [ ]:
df1 = df.copy()  # Creating a copy of the original dataframe

In [50]:
print(df.head(5))

  Property_ID   Location Property_Type      Price  Size_sqft  Bedrooms
0        P001     Mumbai         Villa  9000000.0     1136.0       2.0
1        P002    Chennai     Apartment  5400000.0     1828.0       NaN
2        P003  Hyderabad          Plot        NaN      897.0       3.0
3        P004      Delhi        Studio  7500000.0        NaN       2.0
4        P005      Delhi     Apartment  8900000.0     2906.0       2.0

# 2.Check Missing Values

In [ ]:
df.isnull().sum()    # Checking for null values

Property_ID      0
Location         0
Property_Type    0
Price            7
Size_sqft        7
Bedrooms         7
dtype: int64

# 3.Handle Missing Values

In [ ]:
mode_value = df['Bedrooms'].mode()[0]              
df['Bedrooms'].fillna(mode_value, inplace=True)    # Fill missing values in 'Bedrooms' with the most frequent value (mode)

C:\Users\gauta\AppData\Local\Temp\ipykernel_11972\2274258019.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Bedrooms'].fillna(mode_value, inplace=True)

In [53]:
mode_value

np.float64(3.0)

In [ ]:

median_value = df['Size_sqft'].median()                 
df['Size_sqft'].fillna(median_value, inplace=True)       # Fill missing values in 'Size_sqft' with the column's median value

C:\Users\gauta\AppData\Local\Temp\ipykernel_11972\2467053069.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Size_sqft'].fillna(median_value, inplace=True)

In [55]:
median_value

np.float64(1433.0)

# 4.Handle Missing Price

In [ ]:
df.dropna(subset=['Price'], inplace=True)         # Drop rows with missing 'Price' values
remaining_rows = len(df)                          # Count remaining rows
print(f"Remaining rows: {remaining_rows}")

Remaining rows: 45

# 5.Remove Duplicate Records

In [ ]:
duplicate_count = df.duplicated().sum()                  # Count duplicate  rows
print(f"Duplicate rows found: {duplicate_count}")

Duplicate rows found: 2

In [ ]:
df = df.drop_duplicates()                #Remove duplicate rows

In [ ]:
print(f"Remaining rows after removing duplicates: {len(df)}")   #

Remaining rows after removing duplicates: 50

# 6.Statistical Summary

In [ ]:
#PRICE
mean_price = df['Price'].mean()     # Average price
median_price = df['Price'].median() # Middle value when sorted
min_price = df['Price'].min()       # Lowest price
max_price = df['Price'].max()       # Highest price

print("Mean:", mean_price)
print("Median:", median_price)
print("Min:", min_price)
print("Max:", max_price)

Mean: 8223255.813953488
Median: 8200000.0
Min: 3500000.0
Max: 14900000.0

In [ ]:
#size_sqft
mean_size = df['Size_sqft'].mean()            # Average Size
median_size = df['Size_sqft'].median()        # Middle value
min_size = df['Size_sqft'].min()              # Smallest property size
max_size = df['Size_sqft'].max()              # Largest property size

print("Mean:", mean_size)
print("Median:", median_size)
print("Min:", min_size)
print("Max:", max_size)

Mean: 1526.02
Median: 1433.0
Min: 701.0
Max: 2906.0

# 7.DataFrame from Series

In [ ]:
city = ["Delhi", "Mumbai", "Bangalore"]              # Create a DataFrame with average property prices for selected cities
avg_price = [80, 120, 95]  # in lakhs
df_new = pd.DataFrame({
    "City": city,
    "Avg_Price": avg_price
})

In [26]:
df_new

        City  Avg_Price
0      Delhi         80
1     Mumbai        120
2  Bangalore         95

# 8.Filter Data

In [ ]:
filtered_df = df[df['Bedrooms'] > 2]    # Filter properties with more than 2 bedrooms 
print(filtered_df)

   Property_ID   Location Property_Type       Price  Size_sqft  Bedrooms
1         P002    Chennai     Apartment   5400000.0     1828.0       3.0
2         P003  Hyderabad          Plot         NaN      897.0       3.0
5         P006      Delhi     Apartment   3600000.0      900.0       3.0
6         P007     Mumbai          Plot  11200000.0     2672.0       3.0
7         P008       Pune          Plot         NaN     2029.0       4.0
8         P009     Mumbai         Villa   7300000.0     1600.0       3.0
10        P011  Hyderabad         Villa   5400000.0     2825.0       3.0
11        P012    Chennai     Apartment   4700000.0     2766.0       3.0
12        P013      Delhi     Apartment   6500000.0     1433.0       3.0
13        P014  Hyderabad        Studio  14100000.0     1826.0       3.0
14        P015  Hyderabad     Apartment   8600000.0     1024.0       3.0
15        P016    Chennai         Villa  13900000.0     1150.0       3.0
18        P019  Bangalore         Villa   4100000.0     1462.0       4.0
19        P020    Chennai          Plot  13800000.0     1433.0       3.0
22        P023       Pune         Villa  14500000.0      808.0       3.0
24        P025       Pune        Studio   7900000.0     1733.0       3.0
25        P026    Chennai          Plot  13000000.0     1433.0       4.0
26        P027  Bangalore        Studio   6600000.0     1135.0       3.0
28        P029  Bangalore     Apartment  10100000.0     1433.0       4.0
30        P031  Bangalore         Villa         NaN     1058.0       3.0
33        P034  Hyderabad     Apartment         NaN     2112.0       3.0
34        P035      Delhi         Villa   3600000.0     1206.0       4.0
35        P036       Pune         Villa   9400000.0      771.0       4.0
37        P038  Bangalore     Apartment         NaN     1460.0       3.0
38        P039    Chennai     Apartment   4000000.0     1021.0       3.0
39        P040     Mumbai         Villa   3800000.0     2893.0       3.0
43        P044  Bangalore     Apartment   6100000.0     1325.0       3.0
44        P045       Pune         Villa   3500000.0      701.0       4.0
47        P048     Mumbai         Villa  14900000.0     1616.0       4.0
49        P050  Bangalore        Studio   6000000.0      758.0       3.0

# 9.Conditional Filtering

In [ ]:
df_crore_plus = df[df['Price'] > 10000000]   # Filter properties with a price greater than ₹1 crore
print(df_crore_plus)

   Property_ID   Location Property_Type       Price  Size_sqft  Bedrooms
6         P007     Mumbai          Plot  11200000.0     2672.0       3.0
13        P014  Hyderabad        Studio  14100000.0     1826.0       3.0
15        P016    Chennai         Villa  13900000.0     1150.0       3.0
19        P020    Chennai          Plot  13800000.0     1433.0       3.0
22        P023       Pune         Villa  14500000.0      808.0       3.0
25        P026    Chennai          Plot  13000000.0     1433.0       4.0
27        P028       Pune        Studio  12300000.0     1672.0       2.0
28        P029  Bangalore     Apartment  10100000.0     1433.0       4.0
40        P041    Chennai     Apartment  11600000.0     2264.0       2.0
46        P047    Chennai        Studio  10200000.0     2286.0       2.0
47        P048     Mumbai         Villa  14900000.0     1616.0       4.0
48        P049     Mumbai         Villa  11500000.0     1042.0       2.0

# 10.Merge DataFrames

In [ ]:
merged_df = df.merge(df_new, left_on='Location', right_on='City', how='inner') # Merge property data with city-wise average prices using 'Location' and 'City' columns
print(merged_df)

   Property_ID   Location Property_Type       Price  Size_sqft  Bedrooms  \
0         P001     Mumbai         Villa   9000000.0     1136.0       2.0
1         P004      Delhi        Studio   7500000.0     1433.0       2.0
2         P005      Delhi     Apartment   8900000.0     2906.0       2.0
3         P006      Delhi     Apartment   3600000.0      900.0       3.0
4         P007     Mumbai          Plot  11200000.0     2672.0       3.0
5         P009     Mumbai         Villa   7300000.0     1600.0       3.0
6         P013      Delhi     Apartment   6500000.0     1433.0       3.0
7         P019  Bangalore         Villa   4100000.0     1462.0       4.0
8         P021      Delhi        Studio   8200000.0     1681.0       2.0
9         P024      Delhi          Plot         NaN     1433.0       1.0
10        P027  Bangalore        Studio   6600000.0     1135.0       3.0
11        P029  Bangalore     Apartment  10100000.0     1433.0       4.0
12        P030      Delhi         Villa   9200000.0     2351.0       2.0
13        P031  Bangalore         Villa         NaN     1058.0       3.0
14        P033     Mumbai          Plot   9900000.0     1210.0       2.0
15        P035      Delhi         Villa   3600000.0     1206.0       4.0
16        P038  Bangalore     Apartment         NaN     1460.0       3.0
17        P040     Mumbai         Villa   3800000.0     2893.0       3.0
18        P042      Delhi     Apartment   8100000.0     1233.0       2.0
19        P044  Bangalore     Apartment   6100000.0     1325.0       3.0
20        P048     Mumbai         Villa  14900000.0     1616.0       4.0
21        P049     Mumbai         Villa  11500000.0     1042.0       2.0
22        P050  Bangalore        Studio   6000000.0      758.0       3.0

         City  Avg_Price
0      Mumbai        120
1       Delhi         80
2       Delhi         80
3       Delhi         80
4      Mumbai        120
5      Mumbai        120
6       Delhi         80
7   Bangalore         95
8       Delhi         80
9       Delhi         80
10  Bangalore         95
11  Bangalore         95
12      Delhi         80
13  Bangalore         95
14     Mumbai        120
15      Delhi         80
16  Bangalore         95
17     Mumbai        120
18      Delhi         80
19  Bangalore         95
20     Mumbai        120
21     Mumbai        120
22  Bangalore         95

In [ ]:
merged_df['Price_vs_Avg'] = merged_df['Price'] - merged_df['Avg_Price']   # Calculate difference between actual price and city average 
print(merged_df[['Location', 'Price', 'Avg_Price', 'Price_vs_Avg']])

     Location       Price  Avg_Price  Price_vs_Avg
0      Mumbai   9000000.0        120     8999880.0
1       Delhi   7500000.0         80     7499920.0
2       Delhi   8900000.0         80     8899920.0
3       Delhi   3600000.0         80     3599920.0
4      Mumbai  11200000.0        120    11199880.0
5      Mumbai   7300000.0        120     7299880.0
6       Delhi   6500000.0         80     6499920.0
7   Bangalore   4100000.0         95     4099905.0
8       Delhi   8200000.0         80     8199920.0
9       Delhi         NaN         80           NaN
10  Bangalore   6600000.0         95     6599905.0
11  Bangalore  10100000.0         95    10099905.0
12      Delhi   9200000.0         80     9199920.0
13  Bangalore         NaN         95           NaN
14     Mumbai   9900000.0        120     9899880.0
15      Delhi   3600000.0         80     3599920.0
16  Bangalore         NaN         95           NaN
17     Mumbai   3800000.0        120     3799880.0
18      Delhi   8100000.0         80     8099920.0
19  Bangalore   6100000.0         95     6099905.0
20     Mumbai  14900000.0        120    14899880.0
21     Mumbai  11500000.0        120    11499880.0
22  Bangalore   6000000.0         95     5999905.0

# 11.Group Analysis

In [ ]:
avg_price_by_type = df.groupby('Property_Type')['Price'].mean()   # Average price by property type
print(avg_price_by_type)

Property_Type
Apartment    6.807143e+06
Plot         1.124000e+07
Studio       9.188889e+06
Villa        7.960000e+06
Name: Price, dtype: float64

# 12.Sorting

In [ ]:
df_sorted = df.sort_values(by='Price', ascending=False)   # Sort properties by price in descending order
print(df_sorted)

   Property_ID   Location Property_Type       Price  Size_sqft  Bedrooms
47        P048     Mumbai         Villa  14900000.0     1616.0       4.0
22        P023       Pune         Villa  14500000.0      808.0       3.0
13        P014  Hyderabad        Studio  14100000.0     1826.0       3.0
15        P016    Chennai         Villa  13900000.0     1150.0       3.0
19        P020    Chennai          Plot  13800000.0     1433.0       3.0
25        P026    Chennai          Plot  13000000.0     1433.0       4.0
27        P028       Pune        Studio  12300000.0     1672.0       2.0
40        P041    Chennai     Apartment  11600000.0     2264.0       2.0
48        P049     Mumbai         Villa  11500000.0     1042.0       2.0
6         P007     Mumbai          Plot  11200000.0     2672.0       3.0
46        P047    Chennai        Studio  10200000.0     2286.0       2.0
28        P029  Bangalore     Apartment  10100000.0     1433.0       4.0
32        P033     Mumbai          Plot   9900000.0     1210.0       2.0
17        P018    Chennai        Studio   9900000.0     1236.0       2.0
36        P037       Pune     Apartment   9700000.0      763.0       2.0
35        P036       Pune         Villa   9400000.0      771.0       4.0
29        P030      Delhi         Villa   9200000.0     2351.0       2.0
0         P001     Mumbai         Villa   9000000.0     1136.0       2.0
4         P005      Delhi     Apartment   8900000.0     2906.0       2.0
14        P015  Hyderabad     Apartment   8600000.0     1024.0       3.0
45        P046    Chennai          Plot   8300000.0     1433.0       1.0
20        P021      Delhi        Studio   8200000.0     1681.0       2.0
41        P042      Delhi     Apartment   8100000.0     1233.0       2.0
24        P025       Pune        Studio   7900000.0     1733.0       3.0
3         P004      Delhi        Studio   7500000.0     1433.0       2.0
8         P009     Mumbai         Villa   7300000.0     1600.0       3.0
26        P027  Bangalore        Studio   6600000.0     1135.0       3.0
12        P013      Delhi     Apartment   6500000.0     1433.0       3.0
43        P044  Bangalore     Apartment   6100000.0     1325.0       3.0
49        P050  Bangalore        Studio   6000000.0      758.0       3.0
21        P022       Pune         Villa   5700000.0     1628.0       1.0
1         P002    Chennai     Apartment   5400000.0     1828.0       3.0
10        P011  Hyderabad         Villa   5400000.0     2825.0       3.0
11        P012    Chennai     Apartment   4700000.0     2766.0       3.0
9         P010       Pune     Apartment   4300000.0     1246.0       1.0
18        P019  Bangalore         Villa   4100000.0     1462.0       4.0
38        P039    Chennai     Apartment   4000000.0     1021.0       3.0
39        P040     Mumbai         Villa   3800000.0     2893.0       3.0
31        P032  Hyderabad     Apartment   3700000.0     1433.0       1.0
5         P006      Delhi     Apartment   3600000.0      900.0       3.0
16        P017  Hyderabad         Villa   3600000.0     1038.0       1.0
34        P035      Delhi         Villa   3600000.0     1206.0       4.0
44        P045       Pune         Villa   3500000.0      701.0       4.0
2         P003  Hyderabad          Plot         NaN      897.0       3.0
7         P008       Pune          Plot         NaN     2029.0       4.0
23        P024      Delhi          Plot         NaN     1433.0       1.0
30        P031  Bangalore         Villa         NaN     1058.0       3.0
33        P034  Hyderabad     Apartment         NaN     2112.0       3.0
37        P038  Bangalore     Apartment         NaN     1460.0       3.0
42        P043       Pune          Plot         NaN     1569.0       2.0